body {
    background: #09C184
}

#capa {
    width: 50%;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}
.beneficios{
    text-align: left;
    background-color: black;
}
ul{
    display: inline-block;
}
.foto-beneficios{
    width: 40%;
}